#sidebar a{
    font-size: 1vw;
    
}

span{
    border: 0.5px solid red;
}
#sidebar div{
    padding:2px;
    display: flex;
    align-items: center;
    width: 15vw;
}

#sidebar .home{
transform: scale(0.95);
}
#sidebar .sched{
transform: scale(0.95);
}
#sidebar .inbox{
transform: scale(0.95);
}
#sidebar .requestQuote{
transform: scale(0.95);
}
#sidebar .home:hover{
transform: scale(1);
}
#sidebar .sched:hover{
transform: scale(1);
}
#sidebar .inbox:hover{
transform: scale(1);
}
#sidebar .requestQuote:hover{
transform: scale(1);
}