/* BORDERS */
/* div {
    border: 1px solid red;
} */


* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    height: 100vh;

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    white-space: nowrap;
    text-overflow: ellipsis;

    background-color: rgb(241, 243, 245);
}

a {
    text-decoration: none;
    color: white;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.hoverable:hover {
    font-weight: 500;
}

#navigationBar {
    height: 80px;
    width: 100%;

    position: fixed;
    background-color: rgb(32, 37, 32);

    align-content: center;
    padding: 5px;

    color: rgb(255,255,255);

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#navigationBar_logo {
    width: 25%;
    height: 100%;
}

#navigationBar_features {
    padding: 0.75%;
    display: flex;
    font-size: 1vw;
}

#navigationBar_button {
    height: 100%;
    width: 25%;
    padding: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#navigationBar_features a.hoverable{
    border-radius: 5px;
    margin-top: auto;
    margin-bottom: auto;
}

#navigationBar_features a:hover{
    background-color: #343536;
    transform: scale(1.05);
}

.square-button {
    display: inline-block;
    width: 50%;
    height: 75%;
    background-color: rgb(17, 183, 106);
    color: white;
    font-size: 1vw;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 10px; 
    text-decoration: none;
}

.square-button:hover {
    background-color: darkgreen;
    transform: scale(1.05);
}





.h100-w50 {height: 100%; width: 50%;}
.h50-w100 {height: 50%; width: 100%;}
.h100-w25 {height: 100%; width: 25%;}
.h100-w20 {height: 100%; width: 20%;}
.h50-w50 {height: 50%; width: 50%;}
.h100-w33{height: 100%; width: 33%;}
.h20-w100{height: 20%; width: 100%;}
.h75-w100{height: 75%; width: 100%;}
.h25-w100{height: 25%; width: 100%;}
.h80-w100{height: 80%; width: 100%;}
.h30-w100{height: 30%; width: 100%;}
.h40-w100{height: 40%; width: 100%;}
.h15-w100{height: 15%; width: 100%;}
.h20-w100{height: 20%; width: 100%;}
.h35-w100{height: 35%; width: 100%;}
.h10-w100{height: 10%; width: 100%;}
.h90-w100{height: 90%; width: 100%;}
.h25-w35{height: 25%; width: 35%;}



.flex-rightmiddle{display: flex; justify-content: flex-end;  align-items: center;}
.flex-leftmiddle{display: flex; justify-content: flex-start;  align-items: center;}
.flex-centermiddle{display: flex; justify-content: center;  align-items: center;}
.flex-evenmiddle{display: flex; justify-content: space-evenly; align-items: center;}

.text-center{text-align: center;}
.text-left{text-align: left;}
.bold{font-weight: 550;}