* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    height: 100vh;

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
}

a {
    text-decoration: none;
}

.hoverable:hover {
    text-decoration: underline;
    font-weight: 500;
}

.h100-w50 {height: 100%; width: 50%;}
.h50-w100 {height: 50%; width: 100%;}
.h100-w25 {height: 100%; width: 25%;}
.h50-w50 {height: 50%; width: 50%;}

.flex-rightmiddle{display: flex; justify-content: flex-end;  align-items: center;}
.flex-leftmiddle{display: flex; justify-content: flex-start;  align-items: center;}

.text-middlecenter{vertical-align: middle; text-align: center;}
.text-middleleft{vertical-align: middle; text-align: left;}
.bold{font-weight: 550;}




/* BORDERS */
div {
    border: 1px solid red;
}