

body {
    background-color: rgb(235, 242, 246);
}
.row, .col{
    border-radius: 10px;
    background: #fbfbfb;
}

.col-sm-2{
    font-family: Helvetica;
    font-weight: bolder;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    vertical-align: bottom;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

div.ex3 {
    overflow: auto;
    height: 347px;
    width: 100%;
}
div.ex2 {
    overflow: auto;
    height: 180px;
    width: 100%;
}
div.ex1 {
    overflow: auto;
    height: 625px;
    width: 100%;
}

.inline-icon {
    vertical-align: bottom;
    font-size: 18px !important;
}

.button-style {
        margin: auto;
        text-decoration: none;
        color: rgb(52, 173, 46);
        border: none;
        background: none;
        display: block;
        border-radius: 8px;
}

.addbtn button:hover{
    opacity: 85%;
}

.content-text {
font-size: 1.2vw;
margin-top: 1%;
font-weight: 400;
line-height: 28px;
text-align: center;
color: #7591A3;
}

.quotationscontainer {
border: 1px solid rgb(42, 54, 63, 0.50);
height: 100%;

}

.quotationscontainer, .logincontainer {
width: 100%; 
margin: auto; 
padding: 20px;
background-color: rgba(255, 255, 255);
border-radius: 10px;
}

#scrollform{    
    height: 50vw;
}

#changebtn{
    position: fixed;
    width: 100%;
}

.popup{
    display: none;
    position: fixed;
    z-index: 1000;
    height: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%; /* Adjust the width as needed */
    }


.form-group {
margin-bottom: 20px;
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
}
.form-group_two, .form-group_three {
width: 100%;
display: flex;
text-align: center;
justify-content: center;
align-items: center;
z-index: 100;
}
.space{
padding-left:10px;
}
.input-group {
margin-bottom: 20px;
width: 100%;
display: flex;
flex-direction: column;
text-align: center;
}


input[type="text"],input[type="password"],input[type="date"]{
width: 50%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}

.quotationscontainer input[type="text"],input[type="date"]{
width: 100%;
padding: 10px;
height: 100%;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}

textarea {
width: 100%;
height: 150px;
padding: 10px;
resize: none;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}

select{
width: 100%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}

label {
font-weight: 500;
}

.form-group label {
align-self: flex-start;
}
.logincontainer .form-group label {
align-self: flex-start;
padding-left: 25%;
}
.input-group label {
align-self: flex-start;
}


#addfinal {
background-color: rgb(17, 183, 106);
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
border-radius: 5px;
font-weight: bold;
}
.logincontainer button {
width: 50%;
}
button:hover {
transform: scale(1.05);
}
.login{
font-weight: 600;
font-size: 7.1875vw;
color:#11B76A;
text-align: center;
padding-top:2%;
}
.quotations{
font-weight: 600;
font-size: 5.5vw;
color:#11B76A;
text-align: center;
padding-top:2%;
line-height: 110px;
}
.availability{
margin-top: 1%;
font-size: 1vw;
font-weight: 400;
line-height: 28px;
text-align: right;
color: #263640;
}
.form-group p{
margin-top: 1%;
font-size: 1vw;
font-weight: 400;
line-height: 28px;
color: #263640;
}
.toggle {
cursor: pointer;
display: inline-block;
}

.toggle-switch {
display: inline-block;
background: #ccc;
border-radius: 16px;
width: 58px;
height: 32px;
position: relative;
vertical-align: middle;
transition: background 0.25s;
}

.toggle-switch:before, .toggle-switch:after {
content: "";
}



.toggle-switch:before {
display: block;
background: linear-gradient(to bottom, #fff 0%, #eee 100%);
border-radius: 50%;
box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
width: 24px;
height: 24px;
position: absolute;
top: 4px;
left: 4px;
transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
background: linear-gradient(to bottom, #fff 0%, #fff 100%);
box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch {
background: #56c080;
}
.toggle-checkbox:checked + .toggle-switch:before {
left: 30px;
}

.toggle-checkbox {
position: absolute;
visibility: hidden;
text-align: center;

}

.toggle-label {
margin-left: 1%;
position: relative;
top: 2px;
}
input[type="file"]{
display:none;
}
.labelforupload{
display: inline-block;
text-transform: uppercase;
color:rgb(17, 183, 106);
border: 1px solid rgb(17, 183, 106);
text-align: center;
width: 100%;
padding:6px;
font-size: 1.1vw;
user-select: none;
cursor: pointer;

}
.labelforupload:hover {
background-color: darkgreen;
transform: scale(1.05);
color:#fff;
}

.modalblock{
    width: 100%;

}

.close{
cursor: pointer;
float: right;
}

.bprintfile{
width: 100%;
}

